@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.head {
	position: absolute;
	left: calc(50% - 240px/2 - 1.5px);
	top: calc(50% - 148px/2 - 38px);
	font-family: Roboto;
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 45px;
	letter-spacing: 16.75px;
	text-transform: uppercase;
	color: #656565;
}

.info {
	position: absolute;
	left: calc(50% - 450px/2 - 1.5px);
	top: calc(50% - 0px/2 - 40px);
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 45px;
	letter-spacing: 16.75px;
	text-transform: uppercase;
	color: #656565;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .3);
	backdrop-filter: blur(21px);
	display: none;
	z-index: 999;
}

.popup {
	position: absolute;
	width: 600px;
	height: 400px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #0F0F0F;
	border: 1px solid #242424;
	box-sizing: border-box;
	box-shadow: 0px 33px 138px rgba(0, 0, 0, 0.27), 0px 15.2569px 63.8016px rgba(0, 0, 0, 0.200252), 0px 8.72965px 36.5058px rgba(0, 0, 0, 0.169231), 0px 5.29883px 22.1588px rgba(0, 0, 0, 0.145786), 0px 3.19278px 13.3516px rgba(0, 0, 0, 0.124214), 0px 1.77795px 7.43505px rgba(0, 0, 0, 0.100769), 0px 0.764683px 3.19776px rgba(0, 0, 0, 0.0697476);
	border-radius: 9px;
	color: white;
}

.close-popup {
	position: absolute;
	background: #0F0F0F;
  	width: 96.6%;
  	height: 60px;
  	position: absolute;
  	bottom: 10px;
  	left: 10px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	color: #739084;
  	border-radius: 5px;
  	border: 0px solid #242424;
}

.close-popup:hover {
	border: 0px solid #738E81;
	background-color: #141414;
}

@media screen and (max-width: 768px) {
	.popup {
		width: 90%;
		height: 90vh;
	}
}