@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    overflow: hidden;
    background-image: url('assets/background.svg');
	background-color: #0F0F0F;
    background-size: cover;
    cursor: url(assets/arrow.cur), default;
}

a {
    text-decoration: none; 
    cursor: url(assets/link.cur), default; 
}

#preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0F0F0F;
    z-index: 99;
}

#status {
    height: 40px;
    width: 40px;
    color: #739084;
    border: 4px solid;
    border-radius: 50px;
    border-top-color: transparent;
    animation: loader 0.6s linear infinite;
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
    
}


.logo {
    position: absolute;
    top: 17%;
    left: 30%;
    width: 40%;
    z-index: 1;
    transition: 99999999999999.3s;
}

.btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 16.75px;
    text-transform: uppercase;
    border: 2px solid #242424;
    box-sizing: border-box;
    border-radius: 9px;
    transition: 0.3s;
}

.btn:hover {
    border: 2px solid #738E81;
}

.btn:active {
    background-color: #222222;
    transform: scale(.95);
}

._tg {
    position: absolute;
    padding: 25px 136px;
    left: calc(50% - 510px/2 - 0.5px);
    top: calc(50% - 75px/2 + 51.5px);
    background: #0F0F0F;
    color: #739084;
}

._twitch {
    position: absolute;
    padding: 25px 167px;
    left: calc(50% - 510px/2 - 0.5px);
    top: calc(50% - 5px/2 + 124px);
    background: #0F0F0F;
    color: #739084;
}

._vk {
    position: absolute;
    padding: 25px 122.6px;
    left: calc(50% - 510px/2 - 0.5px);
    top: calc(50% - 5px/2 + 233px);
    background: #0F0F0F;
    color: #739084;
}

@media screen and (max-device-width: 1500px) {
    .btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    }

    ._tg {
    position: absolute;
    padding: 42px 236px;
    left: calc(50% - 700px/2 - 25px);
    top: calc(50% - 75px/2 + 149px);
    }

    ._twitch {
    position: absolute;
    padding: 41px 274px;
    left: calc(50% - 750px/2 - 0.5px);
    top: calc(50% - 145px/2 + 344px);
    }   

    ._vk {
    position: absolute;
    padding: 42px 220px;
    left: calc(50% - 750px/2 - 0.5px);
    top: calc(50% - 0px/2 + 433px);
    }
}
